#homeButton {
    padding-right: 5px;
}

.formPadd {
    padding-top: 7px;
    padding-bottom: 7px;
}

#gondozasForm {
    width: 330px;
}

.myNavMargin {
    margin-bottom: 15px;
}

#gondozottakTabla {
    font-size: 14px;
}

.noPaddingMobile {
    padding-left: 0;
    padding-right: 0;
}

.ikonJobbraPadding {
    padding-right: 10px;
}

#gPercekTable {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 14px;
}

#gPercekTable, th, td  {
    border: 1px solid black;
    padding: 2px;
}

#gPercekTable {
    width: 100%;
}
