#homeButton {
    padding-right: 5px;
}

.formPadd {
    padding-top: 7px;
    padding-bottom: 7px;
}

#gondozasForm {
    width: 330px;
}

.myNavMargin {
    margin-bottom: 15px;
}

#gondozottakTabla {
    font-size: 12px;
}

.noPaddingMobile {
    padding-left: 0;
    padding-right: 0;
}